@import url("./disco.css");
.map {
    border-radius: 10px;
    box-shadow: 0 0 4px 0 var(--green);
}
.when-and-where {
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
}
.when,
.where {
    flex: 1 1 300px;
}
.map {
    max-width: 100%;
}
.subscribe {
    margin: 0 auto;
    max-width: 80%;
    border-radius: 8px;
    padding: 20px;
}
.subscribe form {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
}
.subscribe form .form-row {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;
}
.subscribe span {
    display: flex;
    gap: 10px;
    align-items: center;
}
.subscribe.form {
    background-color: #eee;
}
.subscribe.fail {
    background-color: var(--red);
    color: white;
}
.subscribe.success {
    background-color: var(--green);
    color: white;
}
.status-container {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}
.status-container .status {
    flex: 1 1 300px;
    border-radius: 10px;
    padding: 20px 0 0 0;
    max-width: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.status-container .status.game-on {
    background-color: var(--green);
    color: white;
    box-shadow: 0 0 4px 0 var(--green);
}
.status-container .status.game-off {
    background-color: var(--red);
    color: white;
    box-shadow: 0 0 4px 0 var(--red);
    padding-bottom: 20px;
}
.status-container .status.pending {
    background-color: var(--yellow);
    box-shadow: 0 0 4px 0 var(--yellow);
}
.status-container .status.coming-soon {
    background-color: #ccc;
    box-shadow: 0 0 4px 0 #ccc;
    padding-bottom: 20px;
}
.status .heading {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}
.status .call {
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    border-radius: 10px;
}
.status .call .emoji {
    font-size: 5em;
}
.status .call .text {
    font-size: 2em;
    font-weight: bold;
}
.status.pending .call .text {
    font-size: 1em;
}
.status .count,
.status .short-forecast {
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    gap: 10px;
    line-height: 5em;
}
.status .short-forecast,
.status .forecast-details {
    padding-top: 10px;
    align-self: stretch;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3)
}
.status.pending .short-forecast,
.status.pending .forecast-details {
    background-color: rgba(255, 255, 255, 0.3);
}
.status .forecast-details {
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.status .count .number {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
    font-weight: bold;
}
.status .count .text {
    font-size: 1.5em;
    font-weight: bold;
}
.status .short-forecast .emoji {
    font-size: 5em
}
.status .short-forecast .text {
    font-size: 2em;
    font-weight: bold;
}
.status .forecast-details,
.status .forecast-details>div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}
.status .temperature,
.status .precipitation,
.status .wind {
    padding: 2px 10px;
    border-radius: 10px;
}
.temperature.🥵 {
    background-color: var(--red);
}
.temperature.😎 {
    background-color: rgba(255, 255, 255, 0.2);
}
.temperature.🥶 {
    background-color: rgba(120, 200, 255, 0.8);
}
.precipitation.dry {
    background-color: rgba(255, 255, 255, 0.2);
}
.precipitation.possible {
    background-color: rgba(0, 120, 255, 0.5);
}
.precipitation.probable {
    background-color: rgba(0, 120, 255, 0.8);
}
.precipitation.definite {
    background-color: rgba(0, 120, 255, 1);
}
.wind {
    background-color: rgba(255, 255, 255, 0.2);
}