/* reminder */

{{define "reminder_subject"}}Reminder: GAME ON TODAY! {{.GameOnGameFullStartTime}}{{end}}

{{define "reminder_body"}}Quick reminder: we're playing today!  Join us if you can!

{{template "public_status" .}}{{end}}