/* boss monitor e-mail */
{{define "monitor_subject"}}Lunchtime Monitor: {{.WeekOf}}{{end}}

{{define "monitor_body"}}Hey boss,

Here's the latest on the lunchtime game.

{{template "boss_status" .}}{{end}}

{{define "boss_status"}}Dashboard: {{.BossURL}}

Current State: {{.State}}
Next Event on: {{.NextEvent}}
Game On sent: {{if not .GameOnGame.IsZero}}For {{.GameOnGameFullStartTime}}{{else}}No{{end}}
Game Off sent: {{.GameOff}}
Signup URL: {{.PickerURL}}

Games:{{range $idx, $game := .Games}}
+ {{$game.String}}{{- range $idx, $player := $game.Players}}
  - {{$player.String}}{{- end}}{{- end}}
{{end}}

{{define "public_status"}}{{if .GameOnGame.IsZero}}<table border="0" cellpadding="0" cellspacing="5px" width="100%" style="max-width:600px;cursor:pointer;">
<tr>
    <th colspan="4" style="font-size:1.3em;">{{.Games.A.GameDate}}</th>
</tr>
<tr>
    {{.Games.A.TableCell .PickerURL}}
    {{.Games.B.TableCell .PickerURL}}
    {{.Games.C.TableCell .PickerURL}}
    {{.Games.D.TableCell .PickerURL}}
</tr>
<tr>
    <th colspan="4" style="font-size:1.3em;">{{.Games.E.GameDate}}</th>
</tr>
<tr>
    {{.Games.E.TableCell .PickerURL}}
    {{.Games.F.TableCell .PickerURL}}
    {{.Games.G.TableCell .PickerURL}}
    {{.Games.H.TableCell .PickerURL}}
</tr>
<tr>
    <th colspan="4" style="font-size:1.3em;">{{.Games.I.GameDate}}</th>
</tr>
<tr>
    {{.Games.I.TableCell .PickerURL}}
    {{.Games.J.TableCell .PickerURL}}
    {{.Games.K.TableCell .PickerURL}}
    {{.Games.L.TableCell .PickerURL}}
</tr>
    <th colspan="4" style="font-size:1.3em;">{{.Games.M.GameDate}}</th>
<tr>
    {{.Games.M.TableCell .PickerURL}}
    {{.Games.N.TableCell .PickerURL}}
    {{.Games.O.TableCell .PickerURL}}
    {{.Games.P.TableCell .PickerURL}}
</tr>
</table></a>

**[Click here to sign up]({{.PickerURL}})** or reply with the options you can make.

{{- else}}**Where**: [James Bible Park](https://maps.app.goo.gl/P1vm2nkZdYLGZbxb9)<br>
**When**: {{.GameOnGameFullStartTime}}<br>
**Who**: {{.GameOnGame.PublicParticipants}}<br>
**Forecast**: {{.GameOnGame.Forecast}}

**[Click here to sign up]({{.PickerURL}})**{{end}}{{end}}

