/* reminder */

{{define "reminder_subject"}}Reminder: GAME ON TODAY! {{.GameOnGameFullStartTime}}{{end}}

{{define "reminder_body"}}Join us, we're playing today!

{{template "public_status" .}}{{end}}