/* Invitation */

{{define "invitation_subject"}}Lunchtime Bible Park Frisbee - Week of {{.WeekOf}}{{end}}

{{define "invitation_body"}}{{- if .Message}}{{.Message}}

{{end}}[Here are the options for this week]({{.PickerURL}}):

{{template "public_status" .}}

Reminder that we also play on Saturdays. Visit [sedenverultimate.net](https://www.sedenverultimate.net) to sign up for the Saturday mailing list.{{end}}


/* No Invitation */

{{define "no_invitation_subject"}}No Lunchtime Bible Park Frisbee This Week{{end}}

{{define "no_invitation_body"}}{{- if .Message}}{{.Message}}

{{end}}No lunchtime game this week.  We'll try again next week!

Reminder that we also play on Saturdays. Visit [sedenverultimate.net](https://www.sedenverultimate.net) to sign up for the Saturday mailing list.{{end}}