/* Invalid Admin Email - sent if an incoming command or reply e-mail has an issue*/
{{define "invalid_admin_email_body"}}Hey Boss,

You sent me this e-mail but I ran into an issue:
{{.Error}}

Status:
{{template "boss_status" .}}

{{template "signature" .}}{{end}}

{{define "unsure_player_command_body"}}Hey Boss,

I'm not sure what to do with this e-mail.
{{end}}

{{define "error_player_command_body"}}Hey Boss,

I got an error while processing this email:
{{.Error}}

{{template "signature" .}}{{end}}