/* Badger Email */

{{define "badger_subject"}}Need more player for Lunchtime game - week of {{.WeekOf}}{{end}}

{{define "badger_body"}}{{- if .Message}}{{.Message}}{{else}}**We're still looking for players**.{{- end}}

{{template "public_status" .}}

{{template "signature" .}}{{end}}