{{define "lunchtime_player"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="target-densitydpi=device-dpi, width=device-width, user-scalable=no, maximum-scale=1, minimum-scale=1" />
    <title>Southeast Denver Ultimate Frisbee</title>

    {{ build "css/lunchtime.css" "style" }}
    <script>window.DATA = JSON.parse({{ .Lunchtime.JSONForPlayer }})</script>
</head>

<body>
    <div id="content"></div>
    {{ build "js/lunchtime_player.js" "script" }}
</body>

</html>
{{end}}